body {
    background: linear-gradient(to right, #8b9b8f, #a3a0b5);
    /* background: linear-gradient(to right, #b92b27, #1565c0); */
    /* background: #191919; */
    padding: 0;
    margin: 0;
}
.card {
    margin-top: -40px;
    margin-bottom: 20px;
    border: none;
    display: flex;
    background: transparent;
    align-items: center;
    width: 100%;
}

input[type="text"]::placeholder,
input[type="number"]::placeholder {
    color: rgba(189, 189, 189, 0.818);
}

.alertMsg{
    position: relative;
    top: 10px;
    color: aquamarine;
    background-color: rgb(76, 0, 0);
    padding: 1%;
    margin: auto;
    width: 30%;
    border-radius: 50%;
}

.cnfMsg{
    position: relative;
    top: 10px;
    color: aquamarine;
    background-color: rgb(0, 138, 0);
    padding: 1%;
    margin: auto;
    width: 30%;
    border-radius: 50%;
}

.box {
    width: 90%;
    padding: 40px;
    position: relative;
    padding: auto;
    background: #191919;
    text-align: center;
    transition: 0.25s;
    margin:auto 0;
    margin-top: 100px;
    box-shadow: 10px 10px 40px 1px rgba(41, 42, 43, 0.674);
}

.col-3 {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 27%;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    color: rgb(148, 163, 165);
}
.col-3:focus {
    width: 31%;
    border-color: #2ecc71;
    background-color: #191919;
    color: white;
}

.col-2 {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 44%;
    outline: none;
    /* color: white; */
    border-radius: 24px;
    transition: 0.25s;
    color: rgb(148, 163, 165);
}
.col-2:focus {
    width: 48%;
    border-color: #2ecc71;
    background-color: #191919;
    color: white;
}

.col-1 {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 94%;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    color: rgb(148, 163, 165);
}
.col-1:focus {
    width: 98%;
    border-color: #2ecc71;
    background-color: #191919;
    color: white;
}

.form-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    background: transparent;
}

.box select option {
    font-size: 16px;
}
.box h1 {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    font-weight: 500
}

.box p {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn-submit {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    font-size: 24px;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 10px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.btn-submit:hover {
    background: #2ecc71
}

